* {
    border:        none;
    border-radius: 0;
    font-family:   Sans;
    font-size:     15px;
    box-shadow:    none;
    text-shadow:   none;
    transition-duration: 0s;
}

#window {
    color:      rgba(217, 216, 216, 1);
    background: rgba(35, 31, 32, 0.00);
    margin-left: -600px;
}

window#waybar {
    color:      rgba(217, 216, 216, 1);
    background: rgba(35, 31, 32, 0.85);
}

#workspaces {
    margin: 0 5px;
}

#workspaces button {
    padding:    0 5px;
    color:      rgba(217, 216, 216, 0.4);
}

#workspaces button:hover {
    background: rgba(217, 216, 216, 0.4);
}

#workspaces button.visible {
    color:      rgba(217, 216, 216, 1);
}

#workspaces button.focused {
    border-top: 3px solid rgba(217, 216, 216, 0);
    border-bottom: 3px solid rgba(217, 216, 216, 1);
}

#workspaces button.urgent {
    color:      rgba(238, 46, 36, 1);
}

#mode, #battery, #cpu, #memory, #network, #pulseaudio, #idle_inhibitor, #backlight, #custom-storage, #custom-spotify, #custom-weather, #custom-mail, #temperature.cpu, #temperature.gpu {
    color:      white;
    margin:     0px 6px 0px 10px;
    min-width:  25px;
}

#temperature.cpu {
    border-bottom: 3px solid rgba(217, 30, 80, 1);
}

#temperature.gpu {
    border-bottom: 3px solid rgba(217, 80, 30, 1);
}

#cpu {
    border-bottom: 3px solid rgba(30, 80, 216, 1);
}

#memory {
    border-bottom: 3px solid rgba(30, 216, 80, 1);
}

#clock {
    margin:     0px 16px 0px 10px;
    min-width:  140px;
}

#custom-storage.warning {
    color:      rgba(255, 210, 4, 1);
}

#custom-storage.critical {
    color:      rgba(238, 46, 36, 1);
}
