[tools]
{{- if (.isWorkComputer) }}
node = "latest"
npm = "latest"
{{ end }}
{{- if (ne .chezmoi.osRelease.id "arch") }}
chezmoi = "latest"
neovim = "latest"
usage = "latest"
{{ end }}

[env]
EDITOR = "nvim"
VISUAL = "nvim"
{{- if (eq .chezmoi.osRelease.id "ubuntu") }}
DOTNET_ROOT = "/var/snap/dotnet/common/dotnet"
{{ end }}
