if status is-interactive

    # Use vi key bindings
    fish_vi_key_bindings

    abbr -a cm 'chezmoi'
    abbr -a ga 'git add'
    abbr -a gbr 'git branch'
    abbr -a gc 'git commit'
    abbr -a gco 'git checkout'
    abbr -a gco. 'git checkout -- .'
    abbr -a gd 'git diff'
    abbr -a gdc 'git diff --cached'
    abbr -a gf 'git fetch'
    abbr -a gl 'git pull'
    abbr -a glg 'git log --stat'
    abbr -a gmt 'git mergetool'
    abbr -a gp 'git push'
    abbr -a grs 'git reset'
    abbr -a gsh 'git show'
    abbr -a gsp 'git stash pop'
    abbr -a gss 'git stash show'
    abbr -a gst 'git status'
    abbr -a gsu 'git stash -u'
    abbr -a ip 'ip -c=auto'
    abbr -a todo 'vim ~/syncthing-arne/todo/todo.txt'

    # Initialize some stuff
    starship init fish | source
    zoxide init fish | source
    mise activate fish | source

    fastfetch
end
